{% extends 'flatpages/default.html' %}

{% block title %}
Справочник
{% endblock title %}

{% block content %}
    <div class="user-title">
        <h2>Справочник: {{ reference }}></h2>
    </div>
    <table cellpadding="5" align="center" style="front-size: 14pt">
        <tr>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>{{ reference }}</td>
            <td>{{ reference.description }}</td>
        </tr>
    </table>
{% endblock content %}